h1 {
    color: red;
    font-size: 200px;
    }

/* img {
    background-color: red;
    } */

/* class selectors */
.bacon{
    background-color: green;
}
.broccoli{
    background-color: red;
}
.circular{
    border-radius: 30%;
}
/* ID selectors */
#heading{
    color: blue;
}

/* mouse hover */
img:hover{
    background-color: goldenrod;
}